@font-face {
    font-family: SharpSansNo1-Bold;
    src: url('../tipografias/SharpSansNo1-Bold.ttf');
}
@font-face {
    font-family: SharpSansNo1-SemiBold;
    src: url('../tipografias/SharpSansNo1-Semibold.otf');
}
*{
    margin:0;
    padding: 0;
}
@media screen and (min-width:120px){
    main{
        width: 100%;
    }

    /*----------HEADER SMARTPHONE----------*/

    header{
        width: 100%;
        background-color: #fff;
        height: 109px;
        /* background: red; */
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;

    }
    .contenedorHeader{
        /* background: red; */
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 32px;
    }
    #contenedorLogo h1 a{
        font-size: 30px;
        color: #fff;
        background-color: #03363c;
        width: 115px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-weight: 400;
    }
    .menuInactivo{
        height: 0;
    }
    .menuActivo{
        height: 398px;
        
    }
    .contenedorMenu{
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 109px;
        box-sizing: border-box;
        z-index: 1;
        transition-duration: 0.8s;
        overflow-y: scroll;
        max-height: calc(100vh - 109px);
    }
    .contenedorMenu nav ul{
        list-style: none;
    }
    .contenedorMenu nav ul li{
        padding: 0 32px;
        /* background: blue; */
    }
    .contenedorMenu nav ul li a{
        text-decoration: none;
        color: #03363c;
        font-family: 'Roboto';
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        /* background: red; */
        border: 1px solid #fff;
    }
    #filaBtnGratis{
        padding: 20px 32px;
        /* background: red; */
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: center;
    }
    #btnGratis{
        background:#3aaabb;
        color: #fff;
        font-size: 21px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    #btnGratis:hover{
        background-color: #2f8b99;
    }
    #menuAbrir{
        border:none;
        background-color: #fff;
        outline: none;
    }
    #menuAbrir span{
        color: #03363c;
        font-size: 30px;
        /* background-color: #fff; */
    }

    /*----------SLIDER SMARTPHONE----------*/
    .slider{
        background-image: url('/imagenes/sliderMobileL.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        width: 100%;
        height: calc(100vh - 109px);
        margin-top: 109px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .textSlider{
        /* background: red; */
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
        color: #fff;
    }
    .textSlider h2{
        text-align: center;
        font-size: 43px;
        font-weight: 400;
        font-family: 'Myriad Pro';
        margin-bottom: 22px;
    }
    .textSlider p{
        text-align: center;
        font-family: 'Myriad Pro';
        font-size: 18px;
    }
    .contenedorBarra{
        margin-top: 22px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .barraSlider a{
        color: #fff;
        background-color: #eb6752;
        text-decoration: none;
        font-size: 21px;
        padding: 6px 12px;
        margin-bottom: 8px;
        font-family: 'SharpSansNo1-SemiBold';
        transition-duration: 0.5s;
    }
    .barraSlider a:hover{
        background-color: #c15443;
    }
    .barraSlider span{
        color: #fff;
        font-family: 'Myriad Pro';
        font-size: 22px;
    }

    /*----------MODULO SMARTPHONE----------*/
    .modulo{
        width: 100%;
        padding: 32px 0;
    }
    .subModulo{
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
        margin-bottom: 24px;
    }
    .subModulo img{
        width: 100%;
        margin-bottom: 12px;
    }
    .moduloText{
        color: #03363c;
    }
    .moduloText h3{
        font-family: 'SharpSansNo1-Bold';
        font-size: 30px;
    }
    .moduloText p{
        font-size: 14px;
        line-height: 20px;
        font-family: 'Myriad Pro';
        margin-bottom: 10px;
    }
}
@media screen and (min-width:700px){

    /*----------SLIDER TABLET----------*/
    .slider{
        background-image: url('../imagenes/SliderMobileM.jpg');
        position: relative;
        max-height: 909px;
    }
    .contenedorBarra{
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #f5f1ec;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 109px;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
    }
    .barraSlider a{
        margin-bottom: 0;
        width: 214px;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .contenedorBarra span{
        color: #03363c;
    }
}
@media screen and (min-width:1024px){

    /*----------HEADER DESKTOP----------*/
    header{
        justify-content: center;
    }
    .contenedorHeader{
        width: 90%;
        max-width: 1110px;
        padding: 0;
    }
    #menuAbrir{
        display: none;
    }
    .contenedorMenu{
        position: initial;
        height: auto;
        overflow: hidden;
    }
    .contenedorMenu nav ul{
        display: flex;
    }
    .contenedorMenu nav ul li{
        padding: 0;
        margin-left: 20px;
        border-bottom: 2px solid #fff;
        transition-duration: 0.5s;
    }
    .contenedorMenu nav ul li:hover{
        border-color: #03363c;
    }
    #filaBtnGratis{
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 214px;
        height: 49px;
    }
    

    /*----------SLIDER DESKTOP----------*/
    .slider{
        background-image: url('../imagenes/sliderMobileB.jpg');
    }
    .textSlider{
        max-width: 450px;
    }
    .textSlider h2{
        font-size: 63px;
    }
    .textSlider p{
        font-size: 23px;
    }
    .barraSlider{
        background-color: #f5f1ec;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.07);
box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.07);
    }
    .contenedorBarra{
        max-width: 1110px;
        position: initial;
        padding: 0;
    }



    /*----------MODULOS DESKTOP----------*/
    .modulo{
        width: 90%;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 98px;
    }
    .subModulo{
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 140px;
    }
    .subModulo img{
        width: 98%;
        max-width: 540px;
    }
    .moduloText{
        width: 98%;
        max-width: 540px;
    }
    .moduloText h3{
        font-size: 40px;
        max-width: 445px;
        margin-bottom: 40px;
    }
    .moduloText p{
        font-size: 18px;
        line-height: 27px;
        max-width: 445px;
    }
    div.subModulo:nth-child(2){
        flex-direction: row-reverse;
    }
}